/*  

bg color
    #fbe137 -- main
    #ffca1d -- hover
    

    color

    #222-- hover


    
    */

body {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

#logo1 {
    margin: 5px 10px;
    display: inline-block;
}

.link {
    color: rgba(255, 255, 255, .55);
    
}

.link:hover {
    color: rgba(255, 255, 255, .95);
}

#link-login {
    position: absolute;
    top: 15px;
    right: 15px;
}

#left {
    
    width: 50%;
    box-sizing: border-box;
    padding: 70px ;
    height: 60vh;

    margin-bottom: 50px;
}

#left-text {
    font-size: 40px;
}










#for-whom {
    background-color: #444;
    /* border:2px solid yellow; */
    border-radius: 4px;
    padding: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.card {
    background-color: #222;
    padding: 30px;
    margin: 10px;
    border-radius: 4px;


    width: 25%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card-img {
    width: 80%;
}

/* .card .circle {
    background-color: #444;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
} */

@media (max-width:768px) {
    .card {
        width: 80%;
    }
    #left {
        width: 100%;
    }
}



#above-footer {
    background-color: #444;
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px;
}

.footer {
    /* border : 1px solid yellow; */
    padding: 8px;
    text-align:center;

}

#logo2 {
    margin: 0;
    display: inline-block;
}